---
import Section from "@/components/Section.astro"
import {education} from '@/cv.json';
import { ArrowUpRight } from "lucide-astro";

---

<Section title="Educación">
    <ul class="flex flex-col gap-y-4">
        {
          education.map(
            ({ institution, startDate, endDate, url, area }) => {
              const startYear = new Date(startDate).getFullYear();
              const endYear = endDate ? new Date(endDate).getFullYear() : "Actual";
    
              return (
                <li>
                  <article>
                    <header class="flex justify-between items-start mb-2">
                      <div class="gap-2 text-base">
                        <h3 class="font-semibold text-[#111]">
                          <a class="text-[#111] hover:underline flex items-center" href={url} title={`Ver ${institution}`} target="_blank">
                            {institution}
                            <ArrowUpRight class="w-4 h-4 ml-2" />
                          </a>
                        </h3>
                      </div>
                      <div class="justify-self-end">
                        <time datetime={startDate} data-title={startDate} class="text-gray-500 text-xs font-mono min-w-[102px] cursor-default sm:text-right">
                          {startYear}
                        </time>
                        {" - "}
                        <time datetime={endDate} data-title={endDate} class="text-gray-500 text-xs font-mono min-w-[102px] cursor-default sm:text-right">
                          {endYear}
                        </time>
                      </div>
                    </header>
    
                    <footer>
                      <p class="text-pretty text-[#555] text-sm">{area}</p>
                    </footer>
                  </article>
                </li>
              );
            }
          )
        }
      </ul>
</Section>
