---
import Section from "@/components/Section.astro";
import Mail from "@/assets/icons/Mail.astro";
import Phone from "@/assets/icons/Phone.astro";
import LinkedIn from "@/assets/icons/LinkedIn.astro";
import GitHub from "@/assets/icons/GitHub.astro";
import WorldMap from "@/assets/icons/WorldMap.astro";
import Medium from "@/assets/icons/Medium.astro";
import { basics } from "@/cv.json";
const { name, label, image, location, profiles, phone, email } = basics;
const { city, region, countryCode } = location;

const SOCIAL_ICONS: Record<string, any> = {
  GitHub,
  LinkedIn,
  Medium,
};

const printInfo = [email, phone].filter(Boolean).join(" • ");
---

<Section title="">
  <div class="flex flex-row items-center justify-between gap-4">
    <div class="flex flex-col gap-1 pr-8">
      <h1 class="text-2xl leading-8 font-bold tracking-normal">{name}</h1>
      <h2 class="text-[#6b7280] text-sm font-mono leading-6 text-pretty">
        {label}
      </h2>
      <a
        href="https://maps.app.goo.gl/pvEiNbAsKp5uLKRS7"
        class="text-[#6b7280] flex items-center gap-1 text-xs leading-4 font-mono hover:underline cursor-pointer"
        target="_blank"
        rel="noopener noreferrer"
      >
        <WorldMap class="w-4 h-4" />
        {city}, {region}, {countryCode}
      </a>
      <footer class="print">
        {printInfo}
      </footer>
      <footer class="text-[#555] text-[0.65rem] flex gap-1 mt-2 no-print">
        {
          email && (
            <a
              class="text-[#6b7280] inline-flex items-center justify-center p-1 w-8 h-8 rounded-md border border-[solid] border-[#eee] [transition:all_0.3s_ease] hover:bg-[#eee] hover:border-[1px] hover:border-[solid] hover:border-[#ddd]"
              href={`mailto:${email}`}
              title={`Enviar un correo electrónico a ${name} al correo ${email}`}
              target="_blank"
              rel="noopener noreferrer"
            >
              <Mail />
            </a>
          )
        }
        {
          phone && (
            <a
              class="text-[#6b7280] inline-flex items-center justify-center border-[1px] border-[solid] border-[#eee] p-[4px] h-[32px] w-[32px] rounded-[6px] [transition:all_0.3s_ease] hover:bg-[#eee] hover:border-[1px] hover:border-[solid] hover:border-[#ddd]"
              href={`mailto:${email}`}
              title={`Comunicarme al télefono de ${name} al número ${phone}`}
              target="_blank"
              rel="noopener noreferrer"
            >
              <Phone />
            </a>
          )
        }

        {
          profiles.map(({ network, username, url }) => {
            const Icons = SOCIAL_ICONS[network];

            return (
              <a
                class="text-[#6b7280] inline-flex items-center justify-center border-[1px] border-[solid] border-[#eee] p-[4px] h-[32px] w-[32px] rounded-[6px] [transition:all_0.3s_ease] hover:bg-[#eee] hover:border-[1px] hover:border-[solid] hover:border-[#ddd]"
                href={url}
                title={`Visitar el perfil de ${username} en ${network}`}
                target="_blank"
                rel="noopener noreferrer"
              >
                <Icons />
              </a>
            );
          })
        }
      </footer>
    </div>
    <figure class="flex justify-center items-center m-auto">
      <img
        src={image}
        alt={name}
        class="aspect-square object-cover w-56 rounded-2xl opacity-95 shadow-md"
      />
    </figure>
  </div>
</Section>
