---
import Section from "@/components/Section.astro";
import { projects } from "@/cv.json";
---

<Section title="Proyectos">
  <ul class="-mx-2.5 grid grid-cols-1 gap-3 print:grid-cols-3 print:gap-2 md:grid-cols-2 lg:grid-cols-2">
    {
      projects.map(({ name, url, description, highlights, isActive }) => (
        <li>
          <article class="rounded-xl flex flex-col overflow-hidden border-[1px] border-solid border-[#f2f2f2] gap-4 p-4 h-full ">
            <header class="flex flex-col">
              <h3 class="mb-1">
                <a
                  href={url}
                  target="_blank"
                  title={`Ver el proyecto en ${name}`}
                  class="text-[#111] tracking-tight text-base font-medium hover:underline"
                >
                  {name}
                </a>
                {isActive && (
                  <span class="text-green-400 animate-pulse">
                    •
                  </span>
                )} 
              </h3>
              <p class="text-[13px] text-pretty leading-tight">{description}</p>
            </header>
            <footer class="flex flex-wrap gap-1">
              {highlights.map((highlight) => (
                <span class="rounded-md text-[0.6rem] border px-1 py-0.5  font-semibold bg-slate-200/70 text-[#111827]">
                  {highlight}
                </span>
              ))}
            </footer>
          </article>
        </li>
      ))
    }
  </ul>
</Section>
